/* =========global styles======== */
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
}

/* =========repetitive classes======== */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 62px;
}

.title::after {
  content: "";
  position: absolute;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 5px;
  left: 0;
  right: 0;
}

.section {
  padding: 140px 0;
}

.section:nth-child(2n) {
  background-color: #F6F6F8;
}

/* =========header======== */
.header {
  background-image: url('../images/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  z-index: 0;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* =========header-top======== */
.menu__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}


.logo:hover { 
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo:focus {
  outline: solid #2352DE ;
}

.menu__list-items {
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 26px;
}

.menu__list-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  outline: 1px solid transparent;
  color: inherit;
  transition: all 0.5s;
  position: relative;
}

.menu__list-link::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color:  #FFFFFF;
  transition: all 0.3s;
}

.menu__list-link:hover::after {
  display: block;
}

.menu__list-link:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.menu__list-link:active {
  color: rgba(255, 255, 255, 0.7);
}



/* =========header-content======== */

.header__content-inner {
  height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 50%;
  font-size: 93px;
  line-height: 120px;
  font-weight: 700;
  margin: auto 0;
}

.header__title-name {
  font-size: 48px;
  line-height: 62px;
  font-weight: normal;
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin:0 auto 42px;
  bottom: 1px;
  left: 0;
  right: 0;
  width: 170px;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  border-bottom:  1px solid transparent;
  outline: transparent;
}
/* ------------- */
.header__link::after {
  display: none;
  content: "";
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2px;
  background-color:  #FFFFFF;
  transition: all 0.3s;
}

.header__link:hover::after {
  display: block;
}

.header__link:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.header__link:active {
  opacity: 0.7;
}

/* -------------------- */
/* не зміг розібратися, як вставити стрілку в блок, щоб огорнути при :focus */

.link__img::before {
  position: absolute;
  content: "";
  background-image: url('../images/scrol.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 37px;
  height: 21px;
  top: 30px;
  right: 65px;
  
}

.header__img {
  display: block;
  margin: 10px auto 0;
}

/* =========main======== */
/* =========about======== */

.about__text p {
  font-size: 18px;
  line-height: 29px;
}

.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

/* =========skills======== */

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__img {
  width: 415px;
  height: 450px;
  object-fit: cover;
}

.skills__items {
  width: 57%;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__text {
  font-weight: 600;
  text-transform: uppercase;
}

.skills__line {
  display: block;
  width: 90%;
  height: 32px;
  margin-left: 10px;
  background-color: #DBDBED; 
}


.skill__line--blue {
  display: block;
  height: 100%;
  background-color:#2352DE ;
}

/* =========services======== */
.container .services__items {
  margin-bottom: 140px;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  padding-top: 90px;
  position: relative;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__item:nth-child(1)::before{
  background-image: url(../images/group.svg);
}

.services__item:nth-child(2)::before{
  background-image: url(../images/dev.svg);
}

.services__item:nth-child(3)::before{
  background-image: url(../images/chat.svg);
}

.services__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
}

/* =========services======== */


/* =========portfolio-top======== */
.portfolio__top {
  text-align: center;
}

.portfolio__items {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__item:not(:last-child) {
  margin-right: 35px;
}

.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  background-color: transparent;
  color: inherit;
  outline: transparent;
  padding: 2px;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}
/* ----------------- */
.portfolio__btn::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color:  #2352DE;
  transition: all 0.3s;
}

.portfolio__btn:hover::after {
  display: block;
  color: #2352DE;
}

.portfolio__btn:hover {
  color: #2352DE;
}

.portfolio__btn:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.portfolio__btn:active {
  color: #2352DE;
}

.portfolio__btn:active::after {
  display: none;
}

/* =========portfolio-content======== */

.portfolio__content {
  min-height: 795px;
  column-count: 3;
  column-gap: 45px;
  margin-bottom: 30px;
}

.portfolio__picture:not(:first-child) {
  margin-top: 45px;
}

.portfolio__add {
  display: block;
  width: 183px;
  margin: 0 auto;
  padding: 11px 23px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2352DE;
  transition: all .3s;
  border: 1px solid #2352DE;
  cursor: pointer;
}

.portfolio__add:hover {
  color: #2352DE;
  background-color: #FFFFFF;
}

.portfolio__add:focus {
  outline: solid rgba(35, 82, 222, 0.5);
}

.portfolio__add:active {
  color: #FFFFFF;
  background-color: #2352DE;
  box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.3);
  outline: transparent;
}


/* =========portfolio-review======== */

.reviews {
  text-align: center;
}

.review__inner {
  display: flex;
  padding: 0 50px;
  align-items: center;
}

.review__userpic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 101px;
}

.review__img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.review__author {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 31px;
  color: #2352DE;
}

.blockquote {
  font-style: italic;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
}

.review__video {
  background-image: url('../images/video.jpg');
  width: 570px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  
}

.review__video::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.review__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.review__video:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.review__video a {
  outline: transparent;
}

/* не вдалося зробити обводку при focus на відео */

.review__video:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.play__img {
  transition: all 0.3s;
}
.play__img:hover {
  width: 130px;
}
.play__img:active {
  width: 51px;
}

/* =========statistic======== */

.statistics {
  padding: 140px 0;
  column-count: 4;
  column-gap: 17px;
}
.stattistic__inner {
  text-align: center;
  padding: 128px 0 50px;
  background: #F6F6F8;
  border: 1px solid #DBDBED;
  position: relative;
}

.stattistic__inner::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 90px;
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
}

.stattistic__inner:nth-child(1):before {
  background-image: url(../images/works.svg);
}

.stattistic__inner:nth-child(2):before {
  background-image: url(../images/clients.svg);
}
.stattistic__inner:nth-child(3):before {
  background-image: url(../images/coffee.svg);
}
.stattistic__inner:nth-child(4):before {
  background-image: url(../images/review.svg);
}

.statistic__text {
  margin: 20px 0;
}

.statistic__number {
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;

}

/* =========footer======== */

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 140px;
}

.footer__contacts {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 27px;
}

.footer__contacts p {
  margin-bottom: 26px;
}

.footer__phone {
  margin-bottom: 10px;
}

.footer__email {
  margin-bottom: 16px;
}

.footer__phone, 
.footer__email  {
  outline: transparent;
}

.footer__phone:focus, 
.footer__email:focus {
box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
border-radius: 3px;
}

.footer__phone:hover, 
.footer__email:hover {
  text-decoration: underline;
}

.footer__phone:active,  
.footer__email:active {
  color: #2352DE;
  opacity: 0.7;
  text-decoration: none;
  box-shadow: none
}

.footer__items {
  display: flex;
}

.footer__items li:not(:last-child) {
  margin-right: 20px;
}

.footer__item-img {
  outline: transparent;
}

.footer__item-img:hover {
  opacity: 0.7;
}
/* не зміг розібратися чому не виводиться синя обводка, в інспекторі присутня */
.footer__item-img:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}
.footer__item-img:active {
  opacity: 1;
}

.footer__form {
  width: 46%;
  font-size: 14px;
  line-height: 18px;
}

.form__inner {
  display: flex;
}

.footer__form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-weight: 600;
}

.form__inner label:not(:last-child){
  margin-right: 30px;
}

.form__inner input {
  margin-top: 10px;
  padding: 13px 15px;
  border: none;
  background: #F6F6F8;
  outline: transparent;
}

.footer__form input::placeholder,
.footer__form textarea::placeholder {
  font-weight: 400;
}

.footer__form input:hover::placeholder,
.footer__form textarea:hover::placeholder {
  color: inherit;
}

.footer__form textarea {
  display: block;
  min-height: 115px;
  margin-top: 10px;
  padding: 13px 15px;
  width: 100%;
  resize: none;
  border: none;
  background: #F6F6F8;
  outline: transparent;
}

.footer__form input:focus,
.footer__form textarea:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}


.form__btn {
  padding: 12px 24px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  border: 1px solid #2352DE;
  color: #FFFFFF;
  background: #2352DE;
  cursor: pointer;
}

.form__btn:hover {
  color: #2352DE;
  background-color: #FFFFFF;
}

.form__btn:focus {
  outline: solid rgba(35, 82, 222, 0.5);
}

.form__btn:active {
  color: #FFFFFF;
  background-color: #2352DE;
  box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.3);
  outline: transparent;
}

.footer__logo {
  padding: 50px 0;
  background: #343740;
  text-align: center;
}

.footer__logo .logo {
  display: inline-block;
}







