/* =========global styles======== */
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
}

/* =========global styles======== */

/* =========repetitive classes======== */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: inline-flex;
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 62px;
}

.title::after {
  content: "";
  position: absolute;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  top: 41px;
  left: 0;
  right: 0;

}

.about,
.skills,
.services {
  padding: 140px 0;
}

/* =========repetitive classes======== */

/* =========header======== */
.header {
  /* background-image: linear-gradient(to right, rgba(35, 82, 222, 0.5), rgba(35, 82, 222, 0.5)), url(../images/background.jpg); */
  background-blend-mode: multiply;
  background-image: url('../images/background.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(35, 82, 222, 0.5);
  color: #FFFFFF;
}
/* =========header======== */


/* =========header-top======== */
.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.menu__list-items {
  display: flex;
}

.menu__list-item:not(:first-child) {
  margin-left: 26px;
}

.menu__list-link {
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  outline: 1px solid transparent;
  color: inherit;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #FFFFFF;
  order-radius: 5px; 
}

.menu__list-link:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px;  
}


.logo_img:hover,
.logo_img:active,
.menu__list-link:active,
.header__link:active,
.header__img:active {
  opacity: 0.7;
}

/* =========header-top======== */

/* =========header-content======== */
.header__content {
}
.header__content-inner {
  min-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
}

.header__text {
  font-size: 48px;
  line-height: 62px;
  margin-top: auto;
}

.header__title {
  font-size: 93px;
  line-height: 120px;
  font-weight: 700;
  margin-bottom: auto;
}

.header__link {
  display: block;
  margin-bottom: 30px;
  color: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  border-bottom:  1px solid transparent;
}

.header__link:hover {
  border-bottom:  1px solid #FFFFFF;
}

.header__img {
  display: block;
  margin: 10px auto 0;
}
/* =========header-content======== */


/* =========main======== */

.body section:nth-child(2n) {
  background-color: #F6F6F8;
}
/* =========about======== */

.about__text {
  font-size: 18px;
  line-height: 29px;
}

.about__text:not(:last-child) {
  margin-bottom: 30px;
}

/* =========about======== */

/* =========skills======== */

.skills {
}

.skills__inner {
  display: flex;
}

.avatar {
  width: 415px;
  height: 450px;
  object-fit: cover;
}

.skills__items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.skills__items.left {
  margin-left: 90px;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.skills__text {
  width: 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.skills__line {
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  height: 31px;
  margin-left: 10px;
  background-color: #DBDBED; 
  z-index: 1;
}

.skills__line::before {
  /* content: "";
  position: absolute;
  height: 32px;
  background-color:#2352DE ;
  right: 0;
  top: 0;
  width: 600px; */
}

.skill__line--blue {
  position: absolute;
  height: 31px;
  background-color:#2352DE ;
  right: 0;
  top: -3px;
  /* width: 600px; */
  width: 80%;

}

/* =========skills======== */

/* =========services======== */
.services__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.services__item {
  width: 330px;
  padding-top: 90px;
  position: relative;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}


.services__item--grup::before {
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;

}

.services__item--dev::before {
 background-image: url(../images/dev.svg);
  background-repeat: no-repeat;

}

.services__item--chat::before {
 background-image: url(../images/chat.svg);
  background-repeat: no-repeat;

}

.services__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;

}

.services__text {
  font-size: 16px;
  line-height: 26px;

}

/* =========services======== */


/* =========portfolio-top======== */
.portfolio__top {
  text-align: center;
}


.menu .portfolio__items {
  margin-bottom: 60px;
}
.portfolio__items {
  display: flex;
  justify-content: center;
}
.portfolio__item {
  
}
.portfolio__item:not(:last-child) {
  margin-right: 35px;
}
.portfolio__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: inherit;
}

/* =========portfolio-top======== */

/* =========portfolio-content======== */
.portfolio__content {
  column-count: 3;
  column-gap: 45px;
  margin-bottom: 15px;
}
.portfolio__picture {
  margin-bottom: 45px;
}
.portfolio__img {
}
.portfolio__add {
  display: block;
  width: 183px;
  margin: 0 auto;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2352DE;
}
/* =========portfolio-content======== */

/* =========main======== */
