/* =========global styles======== */
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #333333;
  background-color: #FFFFFF;
}

/* =========repetitive classes======== */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 1.2;
}

.title::after {
  content: "";
  position: absolute;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 5px;
  left: 0;
  right: 0;
}

.button {
  padding: 11px 23px;
  font-weight: 600;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #2352DE;
  transition: all 0.3s;
}

.button:hover {
  color: #2352DE;
  border-color: #2352DE;
  background-color: #FFFFFF;
}

.button:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.button:active {
  color: #FFFFFF;
  background-color: #2352DE;
  box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 141px 0;
}

/* =========header======== */
.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  z-index: 0;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* =========header-top======== */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.logo {
  transition: all 0.3s;
}

.logo:hover { 
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 1);
}

/* =======burger__menu */
.burger {
  display: none;
  position: relative;
  color: #FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 3px;
}

.burger:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.burger:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.burger__line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background-color: currentColor;
	transition: transform 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
	background-color: currentColor;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 10px;
}

.burger::after {
  top: calc(100% - 13px);
}

.burger--active .burger__line {
  transform: scale(0);
	transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  transform: rotate(45deg);
	top: 50%;
  left: 18%;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  transform: rotate(-45deg);
	top: 50%;
  left: 18%;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 600;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.menu__link:hover {
  border-color: #FFFFFF;
}

.menu__link:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.menu__link:active {
  opacity: 0.7;
}

/* =========header-content======== */

.header__content-inner {
  position: relative;
  height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 50%;
  font-weight: 400;
  font-size: 48px;
  margin: auto 0;
}

.header__title-name {
  font-size: 93px;
  font-weight: 700;
}

.header__link {
  position: absolute;
  margin:0 auto 28px;
  padding-bottom: 36px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
  font-weight: 600;
  border-radius: 3px;
  transition: all 0.3s;
}

.header__link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  border-bottom: 1px solid #FFFFFF;
}

.header__link::before {
  content: "";
  position: absolute;
  /* top: 17px; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 21px;
  background-image: url('../images/scrol.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.header__link:focus {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.header__link:active {
  opacity: 0.7;
}


.header__img {
  display: block;
  margin: 10px auto 0;
}

/* =========about======== */

.about__text p {
  line-height: 1.6;

}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

/* =========skills======== */

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__img {
  width: 415px;
  height: 450px;
  object-fit: cover;
}

.skills__items {
  width: 57%;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__text {
  font-weight: 600;
  text-transform: uppercase;
}

.skills__line {
  display: block;
  width: 90%;
  height: 32px;
  background-color: #DBDBED; 
}


.skills__line-color {
  display: block;
  height: 100%;
  background-color:#2352DE ;
}

/* =========services======== */
.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  padding-top: 90px;
  position: relative;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.services__item--dev::before {
  background-image: url('../images/group.svg');
}

.services__item--cms::before {
  background-image: url('../images/dev.svg');
}

.services__item--sup::before {
  background-image: url('../images/chat.svg');
}

.services__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
}

.services__text {
  font-size: 16px;
  line-height: 1.7;
}

/* =========gallery======== */
.gallery {
  text-align: center;
  padding-top: 8px;
}

.gallery__items {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.gallery__item:not(:last-child) {
  margin-right: 32px;
}

.gallery__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: inherit;
  padding: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.mixitup-control-active {
  color: #2352DE;
}


.gallery__btn:hover {
  border-color: #2352DE;
  color: #2352DE;
}

.gallery__btn:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.gallery__btn:active {
  color: #2352DE;
  border-bottom: none;
}

/* =========portfolio-content======== */

.gallery__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
  grid-gap: 45px;
  margin-bottom: 60px;
}

/* =========portfolio-review======== */

.review {
  text-align: center;
  background-color: #F6F6F8;
}

.review__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.review__box {
  width: 34%;
}

.review__img {
  border-radius: 50%;
  margin: 0 auto 20px;
}

.review__blockquote {
  font-style: italic;
  font-size: 24px;
  color: #333333;
}

.review__cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2352DE;
}

.review__video {
  width: 49%;
  height: 403px;
  flex: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  position: relative;
  z-index: 0;
}

.review__video::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.3s;
}
.review__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}
.review__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.review__video::after {
  content: "";
  position: absolute;
  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 100px;
  transition: transform 0.3s;
}

.review__video:hover::after {
  transform:  translate(-50%, -50%) scale(1.6);
}

.review__video:active::after {
  transform: translate(-50%, -50%) scale(0.6);
}

.review__video:focus {
  box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

/* =========statistics======== */

.statistic {
  padding: 140px 0;
}

.statistic__list {
  display: flex;
  justify-content: space-between;
}

.statistic__item {
  width: 280px;
  text-align: center;
  padding: 150px 0 50px;
  background-color: #F6F6F8;
  border: 1px solid #DBDBED;
  position: relative;
}

.statistic__item::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  height: 80px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateX(-50%);
}

.statistic__item--works:before {
  background-image: url('../images/works.svg');
}
.statistic__item--clients:before {
  background-image: url('../images/clients.svg');
}
.statistic__item--coffe:before {
  background-image: url('../images/coffee.svg');
}
.statistic__item--review:before {
  background-image: url('../images/review.svg');
}

.statistic__text {
  margin-bottom: 20px;
}

.statistic__number {
  font-weight: 600;
  font-size: 44px;
  line-height: 0.8;
}

/* =========contact======== */
.contact {
  padding-top: 0;
}

.contact__box {
  display: flex;
  justify-content: space-between;
}

.address {
  max-width: 560px;
  font-style: inherit;
}

.address__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
}

.address__list {
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 15px;
}

.address__link {
  color: #2352DE;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  transition: border-color 0.3s;
}

.address__link:hover {
  border-color: #2352DE;
}

.address__link:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
}

.address__link:active {
  opacity: 0.7;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  transition: all 0.3s;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:focus {
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
}

.social__link:active {
  opacity: 1;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

/* =========form======== */

.form {
  width: 46%;
}

.form__inner {
  display: flex;
  justify-content: space-between;
}

.form__label {
  display: block;
  width: 47%;
  font-size: 14px;
  margin-bottom: 26px;
  font-weight: 600;
}

.form__input {
  width: 100%;
  margin-top: 10px;
  padding: 14px 15px;
  background-color: #F6F6F8;
}

.form__label--textarea {
  width: 100%;
}

.form__label--textarea .form__input {
  min-height: 117px;
  resize: vertical;
}

.form__input::placeholder {
  font-weight: 400;
  transition: all 0.3s;
}

.form__input:hover::placeholder {
  color: inherit;
}

.form__input:focus{
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

/* =========footer======== */

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #343740;
}

@media (max-width: 1200px) {

  /* =========skills======== */
  .skills__img {
    margin-right: 30px;
  }

  .skills__line {
      width: 88%; 
  }

  /* =========gallery======== */
  .gallery__content {
    justify-content: space-evenly;
  }

  .review__inner {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }

  .review__box {
    width: 100%;
    margin-bottom: 30px;
  }

  .review__video {
    width: 100%;
  }

  /* =========statistic======== */
  .statistic__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .statistic__item {
    width: 48%;
    margin-bottom: 15px;
  }

  /* =========form======== */

  .contact__box {
    justify-content: space-around;
  }

  .address {
    max-width: 460px;
  }

}

@media (max-width: 992px) { 

  body {
    font-size: 16px;
  }

  .button {
    letter-spacing: 1px;
}

  .section {
    padding: 50px 0;
    text-align: center;
  }

  .title {
    margin-bottom: 35px;
    /* margin-bottom: 30px; */
    font-size: 28px;
  }

  .header__inner {
    padding-top: 11px;
  }

  .logo {
    width: 110px;
    z-index: 2;
  }

  .burger {
    display: block;
    z-index: 2;
  }

  .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #7792E0;
    display: block;
    text-align: center;
    padding: 73px 0 0;
    transform: translateY(-200%);
    transition: all 0.5s;
    z-index: 1;
  }

  .menu.menu__active {
    transform: translateY(0%);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__link {
    display: block;
    font-size: 18px;
    padding: 8px 0;
  }

  .menu__link:hover {
    border-color: transparent;
  }

  .menu__link:active {
    background-color: #2352DE;
    opacity: 0.7;
  }

  .header__content-inner {
    height: calc(100vh - 52px);
  }

  .header__title {
    max-width: 100%;
    font-size: 42px;
  }

  .header__title-name {
    display: block;
    font-size: 68px;
  }

  .header__link {
    margin-bottom: 11px;
    padding-bottom: 30px;
    font-size: 14px;
  }

/* =========about======== */

  .about__text p {
    text-align: left;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 18px;
  }

/* =========skills======== */
  .skills__inner {
    display: block;
    padding: 0 80px;
  }

  .skills__img {
  margin: 0 auto 60px;
  }

  .skills__items {
    width: 100%;
  }

  .skills__text {
    font-size: 18px;
    line-height: 1;
  }

  .skills__line {
    margin-left: 0px;
  }

 /* =========services======== */

  .services__items {
    display: block;
  }

  .services__item {
    max-width: 100%;
    text-align: left;
    padding-top: 50px;
  }

  .services__item::before {
    width: 40px;
    height: 40px;
  }

  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .services__text {
    line-height: 1.6;
  }

  /* =========gallery======== */
  .gallery {
      padding: 13px 0 50px;
    }

  .gallery__content {
    grid-gap: 15px;
  }

  .review__inner {
    width: 75%;
  }


  /* =========statistic======== */
  .statistic {
    padding: 50px 0 33px;
  }

  /* =========form======== */

  .contact {
    padding-top: 0;
  }

  .contact__box {
    display: block;
    text-align: start;
  }

  .address__title:not(:last-child) {
    margin-bottom: 10px;
  }

  .address {
    max-width: 100%;
    margin-bottom: 30px;
    padding: 0 230px;
    text-align: center;
  }

  .address__list {
    margin-bottom: 30px;
  }

  .address__link {
    display: block;
  }

  .social {
    justify-content: center;
  }

  .form {
    width: 70%;
    margin: 0 auto;
  }

  .form__label {
    margin-bottom: 13px;
  }

  .form__label--textarea {
    margin-bottom: 6px;
  }

  .form__input {
    margin-top: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .footer {
    padding: 32px 0;
  }

}

@media (max-width: 768px) { 

  .header__content-inner {
    height: calc(100vh - 60px);
  }

  .header__title {
    font-size: 32px;
  }

  .header__title-name {
    font-size: 46px;
  }

/* =========skills======== */

  .skills__inner {
    padding: 0 50px;
  }

  .skills__img {
    margin-bottom: 30px;
  }

  .skills__item {
    display: block;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .skills__line {
    width: 100%;
  }

  .skills__text {
    margin-bottom: 5px;
  }

  /* =========gallery======== */
  .gallery__items {
    display: block;
    margin-bottom: 29px;
  }

  .gallery__item:not(:last-child) {
    margin: 0 0 16px;
  }

  .gallery__btn {
    width: 100%;
    font-size: 18px;
  }

  .gallery__content {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

  /* =========review======== */

  .review__inner {
    width: 100%;
    position: relative;
  }


  .review__img {
    margin-bottom: 30px;
  }

  .review__blockquote {
    padding: 0 30px;
    font-size: 16px;
  }

  .review__cite {
    font-size: 20px;
  }

  .review__video {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80px;
    left: 54%;
    border-radius: 50%;
  }

  .review__video::before {
    border-radius: 50%;
  }

  .review__video::after {
    width: 17px;
    height: 20px;
  }

  /* =========statistic======== */
  .statistic {
    padding: 20px 0 38px;
  
  } 
  .statistic__list {
    justify-content: space-between;
  }

  .statistic__item {
    padding: 100px 0 25px;
  }

  .statistic__item::before {
    height: 37px;
  }

  .statistic__text {
    margin-bottom: 16px;
  }

  .statistic__number {
    font-size: 30px;
  }

  /* =========form======== */

  .address {
    padding: 0px 0px;
    text-align: start;
  }


  .social {
    justify-content: start;
  }

  .form {
    width: 90%;
  }

  .form__inner {
    display: block;
  }

  .form__label {
    width: 100%;
  }

}

@media (max-width: 576px) {

  .header__title {
    font-size: 28px;
  }

  .header__title-name {
    font-size: 40px;
  }

  .skills__inner {
    padding: 0 22px;
  }

  .skills__img {
    height: 100%;
    margin-bottom: 54px;
  }

  /* =========gallery======== */
  .gallery__content {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-bottom: 31px;
  }

  /* =========review======== */

  .review__video {
    width: 60px;
    height: 60px;
    top: 90px;
    left: 57%;
  }

  /* =========statistic======== */
  .statistic__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 68px 15px 22px;
  }

  .statistic__item::before {
    top: 23px;
    height: 37px;
  }

  .statistic__text {
    font-size: 14px;
  }

  .form {
    width: 100%;
  }
  
}
